@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Permanent+Marker');

/*font-family: 'Permanent Marker', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width:  360px;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}

#logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  padding-right: 1rem;
}

#title {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  padding-right: 1rem;
}

#date {
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.signup {
  margin-left: auto;
}

.links {
  display:flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

#photo-grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.photo-grid-item {
  border: 1px solid #111111;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 50px;
  height: 12.5rem;
  align-content: space-between;
  justify-content: center;
  align-self: center;
}

.chart-container {
  display: flex;
  justify-content: center;
}

#vote-chart {

}

.table-container {
  display: flex;
  justify-content: center;
}

#table {
  margin-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}
.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}
